@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
  -webkit-tap-highlight-color: transparent;
  background-color: #f9fafb; /* gray-50 fallback */
}

/* Safe area padding for mobile notches */
.pt-safe-top {
  padding-top: env(safe-area-inset-top);
}
.pb-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}